node_modules
.next
.env
*.log
.DS_Store
dist
build
.gemini
coverage
.flutter-plugins-dependencies
.metadata
army_dashboard.iml
analysis_options.yaml
android
ios
# Folders moved/flattened or Flutter legacy
# lib (removed to allow Next.js lib folder)
linux
macos
test
web
windows
pubspec.*
