node_modules
.next
.env
*.log
.DS_Store
dist
build
.gemini
coverage
.flutter-plugins-dependencies
.metadata
army_dashboard.iml
analysis_options.yaml
android
ios
lib
linux
macos
test
web
windows
pubspec.*
